* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  body {
    
    background-size: cover;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: lightgrey;
  }

  .LogIn-Form{
    border-radius: 5px;
    margin: auto;
    width:50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    padding: 40px 5px;
    background-color: yellow;
    box-shadow: 0 0 6px 4px darkgray;
  }
  
  button{
    background-color: #4CAF50;
    border-radius: 10px;
    color: black;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
  }

  input {
    width: 100%;
    display: block;
    max-width: 280px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  
 
  
 
  

  
